ul>li {
    list-style-type: none
}

.fade-wrapper {
    transition: opacity 0.4s ease, max-height 0.4s ease;
    overflow: hidden;
    max-height: 1000px;
    /* big enough for your resizable height */
    opacity: 1;
}

.fade-wrapper.hide {
    opacity: 0;
    max-height: 0;
    pointer-events: none;
}